html,
body,
ul,
p,
h1,
h2,
h3,
li {
  margin: 0;
  padding: 0;
}
#super-conteiner {
  width: 950px;
  margin: 0 auto;
  position: relative;
}
#logo {
  width: 150px;
  height: 80px;
  margin: 10px 0 30px;
  background-color: #5f3d8a;
}
#twin-conteiner {
  overflow: hidden;
}
#twin-conteiner section {
  background-color: grey;
  width: 450px;
  height: 500px;
  transition: 1s;
}
#Sound {
  float: left;
}
#Picture {
  float: right;
}
#Picture a {
  display: block;
  line-height: 500px;
  text-indent: 9999px;
  overflow: hidden;
  text-decoration: none;
}
section.scaleOn {
  transform: scale(1.2);
}
section.scaleOff {
  transform: scale(0.8);
}
section.scaleNone {
  transform: scale(1);
}
